doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href="https://use.fontawesome.com/releases/v5.0.12/css/all.css")
        link(rel='stylesheet' href='/stylesheets/app.css')
        title Remember the Bananas
    body
        header
            div.masthead
                div.burger
                    i(id="bars" class="fas fa-bars" href="#")
                div.searchbar
                    i(id="search" class="fas fa-search" href="#")
                    input(id="textBar" type="text" class="inputBar")
                div.hello
                    a Welcome to Remember the Bananas #{user.username}!
                div.logout
                    button.logoutbutton() logout
        main
            div(class="container")
                div.main(id="sidebar")
                    div(id="imagediv")
                        span Remember the Bananas
                        img(class="imagesidebar" src="/images/chimp.png")
                    ul.lists
                        li something
                        li list
                        li something
                div.main(id='taskfield')
                    div.toolbar-flex-container
                        div.toolbar
                            input(type="checkbox")
                    form.form
                        input(class="inputBar" type="text" name="task" placeholder="Add a task...")
                        button.submit(type='submit') Add Task
                        ul.tasks
                div.main(id="random")
                    ul
                        li stuff
        script(src="/javascripts/index.js" type="module")
