div.masthead
          div.masthead_logo
            span Remember the bananas
          div.masthead_login
            a(id="login" href="/users/login") Log in
          div.masthead_signup
            a(href="/users/signup" id="sign-up") Sign up for free