extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    body
      div.nav-container
        div.logo
          img(src="/images/chimp.png")
          p Remember the bananas
        ul
          li: a(href="/users/login") Log in
          li: a(href="/users/signup" id="sign-up") Sign up for free
