extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/logo.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    body
      div.nav-container
        div.logo
          img(src="/images/chimp.png")
          p Remember the bananas
        div.buttons 
          button(type="submit") Log in
          button(type="submit") Sign up for free
