extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/logo.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
    body
      div.logo
          p Remember the bananas
          img(src="/images/chimp.png")
      div 
