html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/login.css')
  body
    div.left
        p.quote "I do remember, and then when I try to remember, I forget."
        p.author - A.A. Milne, Winnie-the-Pooh
    div.right
        p.message Been Here Before? Welcome back!
        form(action="/users/login" method="post")
            input(name="_csrf" value=token type="hidden")
            div.login-container
                div
                    button
                div
                    input.label(name="username" type="text" placeholder="Username" value=username id="")
                div
                    input.label(name="password" type="text" placeholder="Password" value=password id="")
                div
                    button.label(type="submit") Log in

// csrfToken()
// form username and password and email
// buttons: login, create user --maybe forget password
// implement a logo and theme //bluebackground
// required
