html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/login.css')
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet")
  body
    div.left
        div.logo
            p Remember the bananas
            img(src="/images/chimp.png")
        div.saying
            p.quote "I do remember, and then when I try to remember, I forget."
            p.author - A.A. Milne, Winnie-the-Pooh
    div.right
        div.user_button
            button.create_user(type="submit") Create User
        div.inputs
            p.message Been Here Before? Welcome back!
            form(action="/users/login" method="post")
                input(name="_csrf" value=token type="hidden")
                if errors
                    div.alert
                        p The following errors occured:
                        ul
                            each error in errors
                                li=error
                div.login_container
                    div
                        input.label(name="username" type="text" placeholder="Username" value=username required)
                    div
                        input.label(name="password" type="password" placeholder="Password" required)

                    div
                        button.label(type="submit") Log in

// csrfToken()
// form username and password and email
// buttons: login, create user --maybe forget password
// implement a logo and theme //bluebackground
// required
