body {
    margin: 0;
    padding: 0;
}
/* nav bar */
.masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: green;
    border-radius: 3px;
    box-shadow: grey;
    color: white;
    
}
.logoutbutton   {
    opacity: .5;
    color: white;
}
.hello {
    display: flex;
    align-content: flex-end;
}
.hello button {
    border-radius: 5px;
    background-color:white;
    color: green;
}
.hello button:hover {
    opacity: 1;
}
.logout i{
    padding-left: 5px;
    padding-right: 5px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    border: 1px solid black;
    width: 15%;
}

#search {
    opacity: .3;
    border: none;
    
}
.searchbar:hover {
    background-color: white ;
  
}
#textBar {
    /* padding: 5px; */
    opacity: .3;
    width: 100%;
}
/* sidebar */
.container {
    display: flex;
    flex: row;
    min-height: 600px;
    background-color: rgb(21, 175, 21);
}
#sidebar {
    flex-grow: 1;
    
}
#sidebar thead {
    text-align: left;
}


.add,
.fa-plus {
    background: none;
    opacity: .3;
    background-color: green;
    border-radius: 3px;
    
}


/* tasks */
#taskfield {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 2;
    border-radius: 4px;
    margin-top: 10px;
}

#taskfield table{
    
    margin: 0;
}

.contentTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: .9em;
    min-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);
}
.contentTable thead {
    background-color: rgb(177, 174, 174, .4);
    box-shadow: black;
   border-radius: 4px;
}
.submit {
    color: green;
    border: none;
    padding: 10px;
    background: none;
}
.delete {
    color: red;
    padding: 10px;
    background: none;
    border: none;
}
.contentTable th,
.contentTable td {
    font-size: 15px;
}
.form {
    display: flex;
}
.form .inputBar {
    min-width: 100%;
    opacity: .4;
}
.contentTable tbody tr {
    border-bottom:1px solid #dddddd ;
    text-align: left;
}
.contentTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/* side bar right */
#random {
    flex-grow: 2;
    border: .5px solid white;
    border-radius: 4px;
    margin-top: 10px;
}
.imagesidebar{
    height: 100px;
    width: 160px;

}
.lists img {
    width: 100px;
    height: 100px;
}

.main ul {
    list-style: none;
    text-align: left;
    margin: 0;
    margin-top: 15px;
    font-weight: bold;

}
.main li,
.main i {
    padding-left: 5px;
    padding-right: 5px;
}
.taskCount {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.taskCount h3 {
    border: 1px solid rgba(0,0,0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}
.taskCount h3 text {
    text-align: center;
}
.taskCount li {
    list-style: none;
    font-size: 12px;
    padding: 0;
}

.share {
    margin-left: 15px;
    
}

.share button {
    background-color: rgb(19, 121, 19, .5);
    border-radius: 3px;
    color: white;
    padding-right: 3px;
}