body {
    margin: 0;
    padding: 0;
}
.masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: green;
    border-radius: 3px;
    box-shadow: grey;
    
}
.hello button {
    border-radius: 3px;
    background-color: green;
    color: white;
}
.logout i{
    padding-left: 5px;
    padding-right: 5px;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    border: 1px solid black;
    width: 15%;
}
.masthead div {
  
}
#search {
    opacity: .3;
    border: none;
    
}
.searchbar:hover {
    background-color: white ;
  
}
#textBar {
    /* padding: 5px; */
    opacity: .3;
    width: 100%;
}

.container {
    display: flex;
    flex: row;
    justify-content: space-between;
    background-color: rgb(21, 175, 21);
}
#sidebar {

    
}

#taskfield {
    background-color: lightgray;
    flex-grow: 1.2;
}
.imagesidebar{
    height: 100px;
    width: 100px;

}
.lists img {
    width: 100px;
    height: 100px;
}
