
.navbar {
    display: flex;
    justify-content: space-around;
    border: .2px solid black;
    border-radius: 3px;
    box-shadow: grey;
    min-height: 120px;
    width: 100%;
    grid-auto-flow: column;
    background-color: green;
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 20px;
    position: fixed;
    
}
.logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.logo img {
    width: 150px;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;
    grid-gap: 30px;
    color: lightgray;
    font-family: "Museao Sans";
    
    font-size: 1.3rem;
}
.links a {
    
    font-weight: bold;
}
a {
    text-decoration: none;
}

a:hover {
    color: white; 
}

#signup {
    display:flex;
    border: 2px solid white;
    border-radius: 4px;
    height: 25px;
    width: 130px;
    justify-content: center;
    
}

.mainContainer {
    display: flex;
    background-color: green;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    border-radius: 5px;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
    min-height: 875px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.footer-container ul{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    color: grey;
    /* justify-content: center; */
}
.man{
    padding-right: 12%;
}
.headingButton button {
    background-color: rgb(145, 24, 50);
    width: 150px;
    height: 50px;
    border-radius: 6px;
    color: white;
    font-size: 1.1rem;
}
.quotes {
    color: white;
    
}
.quotes h2 {
    color: lightgray;
    text-align: center;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-container li {
   padding-top: 15px;
    /* flex-direction: column; */
    /* justify-content: center; */
}

.footer-container li {
    list-style: none;
}
.footer-container li:hover {
    background-color: lightgray;
}
.footer-container img {
    order: -1;
    position: relative;
    
    align-self: center;
    width: 50px;
    height: 50px;
    
}

.heading {
    color: white;

}
/* @media () {} */